:root{
  --background : #f8f8f8;
  --dark : #303032;}
.grid{
  background-color:#f8f8f8;
  border: 1px solid #303032;
  display:flex;
  flex-wrap:wrap;
  height:600px;
  width:600px;
  overflow:hidden;
  margin:auto;
  }

.grid div{
  height:40px;
  width:30px;


  }

.egg{
  background-color: #303032;
  border-radius:50% 50% 50% 50% / 60% 60% 40% 40%;
  }

.brick{
  background-color: #303032;

}

.last-brick-left{
  border-radius: 0 5px 5px 0}
.last-brick-right{
  border-radius:  5px 0 0 5px;}

.disappear{
 position:relative;
  background :var(--background);
  border: 0.25rem solid var(--dark);
  height: 8rem;
  width:8rem;
  outline: 0;
  border-radius:40%;
  transform: rotateX(60deg);
   animation-name: example;
  animation-duration: 2s;
   animation-fill-mode: forwards;
}
.disappear::after{
  content:"";
  position:absolute;
  height:40%;/*double the box*/
  width:40%;
  background :  var(--dark);
  position:absolute;
  bottom:35%;
  left:35%;
  border-radius:45%;


  }

@keyframes example {
  from {opacity: 1;}
  to {opacity: 0;}
}

.basket{
  background-color:var(--dark);
  z-index:10;
  position:relative;
  }

.basket:before{
  content:"";
  position:absolute;
  bottom:30px;
  height:40px;
  width:30px;
  background-color:pink;
  z-index:10;

}

#lives{
  display:flex;
  flex-wrap:wrap;
  }
.lives{
  height:40px;
  width:30px;
  background: var(--dark);
  border-radius:50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-left:10px;
  }
